*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
    background-color: rgb(24, 12, 26);
}

.container{
    max-width: 1280px;
    margin: auto;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10vh;
    width: 100%;
}

header{
    width: 100%;
    padding: 60px 4px;
    position: absolute;
    top: 0;
    left: 0;
    
}


.banner{
    height: 150vh;
    background-image: url(fundo.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 3em;
    padding-bottom: 270px;
}

.banner h1 span{
    color: #FFAE81;
}

navbar{
    background-color: blue;
}
