*{
    margin: 0;
}

body{
    background-color: #053B50;
}

body header{
    background-color: #176B87;
    width: 100%;
    height: 17vh;

}
.secao_article{
    width: 100%;
    height: 40vh;
    background-color: #64CCC5;   
}

#secao2{
    width: 100%;
    height: 60vh;
    background: linear-gradient(90deg, rgba(9,5,78,1) 0%, rgba(49,49,204,1) 35%, rgba(13,194,231,1) 100%);
    
    
}

footer{
    width: 100%;
    height: 25vh;
    background-color: #EEEEEE;
}

.fonte{
    font-size: 50px;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
